<script>
  var accountId = <%= @account.id %>;
  bank.Account.time = {month: <%= @time.month %>, year: <%= @time.year %>}
  bank.accountCategories = <%= @account.categories.collect {|cat| cat.name }.to_s.html_safe %>;
  bank.Account.data = <%= @account.attributes.merge(max_date: (Date.today + MonthlyReview::FUTURE_MONTHS.months).end_of_month).to_json.html_safe %>
</script>

<div class="title-bar">
    <h1><%= @account.name %></h1>
    <%= render partial: 'reviews_selector' %>
</div>
<div class="column left two large">
    <div class="title-area">
        <div class="review-shortcuts">
            <%= review_shortcut_links %>
        </div>
        <div class="transaction-actions">
            <a href="#" class="button general fa fa-plus-circle new-transaction">New Transaction</a>
        </div>
    </div>
    <div class="transactions-wrapper">
        <%= render partial: 'transactions', locals: {transactions: @transactions} %>
    </div>
</div>
<div class="column two small stats">
    <div class="totals-wrapper">
        <%= render partial: 'totals', locals: {account: @account} %>
    </div>
    <div class="min-max-wrapper">
        <%= render partial: 'min_max', locals: {account: @account} %>
    </div>
</div>
